@let t = translation();
<app-ui-modal>
  <span slot="title">{{ t['ADD_EXERCISE_TITLE'] }}</span>
  <div slot="content">
    <form [formRoot]="addItemForm">
      <app-ui-input
        [inputId]="'item-name'"
        [label]="t['EXERCISE_NAME_LABEL']"
        [placeholder]="t['EXERCISE_NAME_PLACEHOLDER']"
        [field]="addItemForm.name"
        [error]="nameError()"
        [touched]="nameTouched()" />
    </form>
  </div>
  <div slot="actions" class="dialog-actions-row">
    <app-ui-button
      [label]="t['ADD_EXERCISE_CANCEL']"
      [variant]="buttonVariant.Ghost"
      (click)="onClose()" />
    <app-ui-button
      [label]="t['ADD_EXERCISE_SAVE']"
      [variant]="buttonVariant.Ghost"
      [color]="'primary'"
      (click)="onSubmit()" />
  </div>
</app-ui-modal>
