@use 'abstract/variables' as variables;

.log-entry-dialog {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;

  &__tiles {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: variables.$spacing-sm;
  }
}
