<app-ui-modal>
  <span slot="title" class="confirmation-dialog__title">{{ data.title }}</span>
  <p slot="content" class="confirmation-dialog__message">{{ data.message }}</p>
  <div slot="actions" class="confirmation-dialog__actions">
    <app-ui-button
      [label]="data.cancelLabel"
      [variant]="buttonVariant.Ghost"
      (click)="onClose()" />
    <app-ui-button
      [label]="data.confirmLabel"
      [variant]="buttonVariant.Ghost"
      [color]="'warn'"
      (click)="onSubmit()" />
  </div>
</app-ui-modal>
