@switch (variant()) {
  @case (buttonVariant.Ghost) {
    <button
      mat-button
      [color]="color()"
      [type]="type()">
      @if (icon()) {
        <mat-icon aria-hidden="true">{{ icon() }}</mat-icon>
      }
      {{ label() }}
    </button>
  }
  @default {
    <button
      class="ui-button"
      [class.ui-button--google]="variant() === buttonVariant.Google"
      [class.ui-button--sm]="size() === buttonSize.Sm"
      [type]="type()"
      [disabled]="isLoading()">
      @if (isLoading()) {
        <span class="ui-button__spinner" aria-hidden="true"></span>
      } @else if (icon()) {
        <mat-icon aria-hidden="true">{{ icon() }}</mat-icon>
      }
      {{ label() }}
    </button>
  }
}
