@let t = translation();
<app-ui-modal>
  <span slot="title" class="create-subject-dialog__title">{{ t['TITLE'] }}</span>
  <div slot="content" class="create-subject-dialog__content">
    <form [formRoot]="createSubjectForm">
      <app-ui-input
        [inputId]="'subject-name'"
        [label]="t['NAME_LABEL']"
        [placeholder]="t['NAME_PLACEHOLDER']"
        [field]="createSubjectForm.name"
        [error]="nameError()"
        [touched]="nameTouched()" />
      <app-ui-input
        [inputId]="'subject-description'"
        [label]="t['DESCRIPTION_LABEL']"
        [placeholder]="t['DESCRIPTION_PLACEHOLDER']"
        [field]="createSubjectForm.description" />
    </form>
  </div>
  <div slot="actions" class="create-subject-dialog__actions dialog-actions-row">
    <app-ui-button
      [label]="t['CANCEL']"
      [variant]="buttonVariant.Ghost"
      (click)="onClose()" />
    <app-ui-button
      [label]="t['SAVE']"
      [variant]="buttonVariant.Ghost"
      [color]="'primary'"
      (click)="onSubmit()" />
  </div>
</app-ui-modal>
