@use 'abstract/variables' as variables;

.create-subject-dialog {
  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-md;
    padding-top: variables.$spacing-sm;
    min-width: 280px;
  }

  &__actions {
    padding-top: variables.$spacing-md;
  }
}
