@if (label()) {
  <label class="ui-input__label" [for]="inputId()">{{ label() }}</label>
}

@if (isNumber()) {
  <input
    class="ui-input__number"
    [class.ui-input__number--compact]="compact()"
    type="number"
    [id]="inputId()"
    [attr.aria-label]="ariaLabel()"
    [value]="value()"
    [min]="min()"
    [max]="max() ?? ''"
    [step]="step()"
    [disabled]="disabled()"
    [placeholder]="placeholder()"
    (blur)="onBlur($event)"
  />
} @else {
  <div class="ui-input__wrapper">
    <input
      class="ui-input__control"
      [class.ui-input__control--has-toggle]="isPassword()"
      [id]="inputId()"
      [type]="effectiveType()"
      [placeholder]="placeholder()"
      [autocomplete]="autocomplete()"
      [formField]="field()!"
      [attr.aria-describedby]="touched() && error() ? inputId() + '-error' : null"
      [attr.aria-invalid]="touched() && error() ? 'true' : null"
    />
    @if (isPassword()) {
      <button
        class="ui-input__password-toggle"
        type="button"
        (click)="togglePasswordVisibility()"
        aria-label="Toggle password visibility"
      >
        <app-ui-icon
          class="ui-input__toggle-icon"
          [src]="passwordVisible() ? appIcon.VisibilityOff : appIcon.Visibility"
        />
      </button>
    }
  </div>

  @if (touched() && error()) {
    <span class="ui-input__error" [id]="inputId() + '-error'" aria-live="polite">
      {{ error() }}
    </span>
  }
}
