@let t = facade.translation();

<app-ui-page [title]="t['TITLE']" [narrow]="true">
  <div class="settings__content">
    @if (facade.isLoading()) {
      <p class="settings__loading">{{ t['LOADING'] }}</p>
    } @else if (facade.hasError()) {
      <p class="settings__error">{{ t['LOAD_ERROR'] }}</p>
    } @else {
      <div class="settings__group">
        <span class="settings__label" id="weight-unit-label">{{ t['WEIGHT_UNIT_LABEL'] }}</span>
        <div class="settings__buttons" role="group" aria-labelledby="weight-unit-label">
          <button
            class="settings__btn"
            [class.settings__btn--active]="facade.isWeightUnitKg()"
            [attr.aria-pressed]="facade.isWeightUnitKg()"
            [type]="buttonType.Button"
            [disabled]="facade.saving()"
            (click)="onWeightUnitChanged(weightUnit.Kg)">
            {{ t['WEIGHT_UNIT_KG'] }}
          </button>
          <button
            class="settings__btn"
            [class.settings__btn--active]="facade.isWeightUnitLb()"
            [attr.aria-pressed]="facade.isWeightUnitLb()"
            [type]="buttonType.Button"
            [disabled]="facade.saving()"
            (click)="onWeightUnitChanged(weightUnit.Lb)">
            {{ t['WEIGHT_UNIT_LB'] }}
          </button>
        </div>
      </div>

      <div class="settings__group">
        <span class="settings__label" id="distance-unit-label">{{ t['DISTANCE_UNIT_LABEL'] }}</span>
        <div class="settings__buttons" role="group" aria-labelledby="distance-unit-label">
          <button
            class="settings__btn"
            [class.settings__btn--active]="facade.isDistanceUnitKm()"
            [attr.aria-pressed]="facade.isDistanceUnitKm()"
            [type]="buttonType.Button"
            [disabled]="facade.saving()"
            (click)="onDistanceUnitChanged(distanceUnit.Km)">
            {{ t['DISTANCE_UNIT_KM'] }}
          </button>
          <button
            class="settings__btn"
            [class.settings__btn--active]="facade.isDistanceUnitMiles()"
            [attr.aria-pressed]="facade.isDistanceUnitMiles()"
            [type]="buttonType.Button"
            [disabled]="facade.saving()"
            (click)="onDistanceUnitChanged(distanceUnit.Miles)">
            {{ t['DISTANCE_UNIT_MILES'] }}
          </button>
        </div>
      </div>

      @if (facade.saveSuccess()) {
        <p class="settings__feedback settings__feedback--success" role="status">{{ t['SAVE_SUCCESS'] }}</p>
      }
      @if (facade.saveError()) {
        <p class="settings__feedback settings__feedback--error" role="status">{{ t['SAVE_ERROR'] }}</p>
      }
    }
  </div>
</app-ui-page>
