@use 'abstract/variables' as variables;
@use 'abstract/mixins' as mixins;

.menu {
  &__content {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-sm;

    @include mixins.respond-to(lg) {
      gap: variables.$spacing-md;
    }
  }
}
