<app-ui-page [title]="titleLabel()" [narrow]="true">
  <div class="menu__content">
    <app-ui-button
      [label]="profileLabel()"
      [variant]="buttonVariant.Ghost"
      (click)="onNavigateToProfile()"
    />
    <app-ui-button
      [label]="settingsLabel()"
      [variant]="buttonVariant.Ghost"
      (click)="onNavigateToSettings()"
    />
    <app-ui-button
      [label]="logoutLabel()"
      [variant]="buttonVariant.Ghost"
      [isLoading]="isLoggingOut()"
      (click)="onLogout()"
    />
  </div>
</app-ui-page>
